body {
    background-image: url("/images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "SF Pro Display", sans-serif;
}

.transparent-div {
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    position: fixed; /* Fixed positioning to stay on the right side */
    top: 0; /* Align div to the top */
    right: 0; /* Align div to the right side of the page */
    width: 50%; /* Set the width of the div */
    height: 100%; /* Make the div cover the full height of the viewport */
}

.title-bar-div {
    background-color: #202020;
    color: white;
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-title {
    margin-left: 20px;
}

.title-bar-div button {
    border: none; /* Remove button border */
    background-color: transparent;
    color: white; /* Text color for the button */
    padding: 5px 20px; /* Adjust padding as needed */
    font-size: inherit; /* Inherit font size from parent (.title-bar h3) */
}

.nav-bar-div {
    background-color: #a44200;

}

/* Style for the content inside the transparent div */
.content {
    padding: 20px; /* Add padding to create space for content */
    color: white; /* Text color for the content */
}