body {
    background-image: url("/images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "SF Pro Display", sans-serif;
    color: white;
}

.transparent-div {
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    position: fixed; /* Fixed positioning to stay on the right side */
    top: 0; /* Align div to the top */
    right: 0; /* Align div to the right side of the page */
    width: 50%; /* Set the width of the div */
    height: 100%; /* Make the div cover the full height of the viewport */
}

.title-bar-div {
    background-color: #202020;
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-title {
    margin-left: 20px;
}

.title-bar-div button {
    border: none; /* Remove button border */
    color: white;
    background-color: transparent;
    padding: 5px 20px; /* Adjust padding as needed */
    font-size: inherit; /* Inherit font size from parent (.title-bar h3) */
}

.nav-bar-div {
    background-color: #a44200;
    position: relative;
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-div button {
    border: none; /* Remove button border */
    background-color: transparent;
    color: white; /* Text color for the button */
    padding: 5px 20px; /* Adjust padding as needed */
    font-size: inherit; /* Inherit font size from parent (.title-bar h3) */
}

.main-copy {
    padding: 30px;
}

.locations-nav-div {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 20%;
    padding: 0 5px;
}

.locations-nav-div-location {
    flex: 1;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
    /*background-color: aliceblue;*/
    padding: 5px;
}

.locations-nav-div button {
    width: 80%;  /* relative to the inner div, this gives a bit of padding on each side */
    height: 0; /* this will be overridden by padding-bottom to maintain the aspect ratio */
    padding-bottom: 80%; /* relative to width, maintains the square aspect ratio */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.locations-nav-div img {
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border: 9px #a44200;
}

.footer {
    padding: 30px;
    position: inherit;
    bottom: 0;
    font-size: 60%;
}
/* Style for the content inside the transparent div */
.content {
    padding: 20px; /* Add padding to create space for content */
    color: white; /* Text color for the content */

}